<template>
  <div>
      <h1>Question Screen</h1>
      <hr>
    <div>
        <h2>Question {{currentQuestion}}</h2>
    </div>
    <div>
        <h3 v-html="results[currentQuestion - 1].question"></h3>
    </div>
    <div>
        <button class="buttonSize" @click="selectAnswer1" v-html="results[currentQuestion -1].correct_answer"></button>
        <button class="buttonSize" @click="selectAnswer2" v-html="results[currentQuestion -1].incorrect_answers[0]"></button>
    </div>
    <div>
        <button class="buttonSize" @click="selectAnswer3" v-if="results[currentQuestion -1].incorrect_answers.length > 1"
                v-html="results[currentQuestion -1].incorrect_answers[1]"></button>
        <button class="buttonSize" @click="selectAnswer4" v-if="results[currentQuestion -1].incorrect_answers.length > 2"
                v-html="results[currentQuestion -1].incorrect_answers[2]"></button>
    </div>
  </div>
</template>

<script>
import {mapState, mapMutations, mapActions} from 'vuex'

export default {
    computed: {
        ...mapState(['questionAmount', 'categoryChosen', 'difficultyChosen', 'typeChosen', 'results', 'chosenAnswers', 
                     'currentScore', 'maxScore'])
    },
    methods: {
        selectAnswer1() {
        this.setSelectedAnswer(this.results[this.currentQuestion -1].correct_answer);
        this.currentScore += 10;
        this.maxScore += 10;
        this.setCurrentScore(this.currentScore);
        this.setMaxScore(this.maxScore);
        this.currentQuestion += 1;
        if(this.currentQuestion > this.questionAmount) {
            this.$emit('stop-quiz')
        }},
        selectAnswer2() {
        this.setSelectedAnswer(this.results[this.currentQuestion -1].incorrect_answers[0]);
        this.maxScore += 10;
        this.setCurrentScore(this.currentScore);
        this.setMaxScore(this.maxScore);
        this.currentQuestion += 1;
        if(this.currentQuestion > this.questionAmount) {
            this.$emit('stop-quiz')
        }},
        selectAnswer3() {
        this.setSelectedAnswer(this.results[this.currentQuestion -1].incorrect_answers[1]);
        this.maxScore += 10;
        this.setCurrentScore(this.currentScore);
        this.setMaxScore(this.maxScore);
        this.currentQuestion += 1;
        if(this.currentQuestion > this.questionAmount) {
            this.$emit('stop-quiz')
        }},
        selectAnswer4() {
        this.setSelectedAnswer(this.results[this.currentQuestion -1].incorrect_answers[2]);
        this.maxScore += 10;
        this.setCurrentScore(this.currentScore);
        this.setMaxScore(this.maxScore);
        this.currentQuestion += 1;
        if(this.currentQuestion > this.questionAmount) {
            this.$emit('stop-quiz')
        }},
        ...mapMutations(['setSelectedAnswer', 'setCurrentScore', 'setMaxScore']),
        ...mapActions(['getQuiz'])
    },
    data() {
        return {
            currentQuestion: 1,
            currentScore: 0,
            maxScore: 0
        }
    },
    async created() {
        await this.getQuiz()
    }
}
</script>

<style>

</style>
