<template>
  <div>
    <h1>Results Screen</h1>
    <div> 
      <b>Final score: {{currentScore}} / {{maxScore}}</b>
      <p></p>
    </div>
    <div>
      <button class="buttonSize" @click="goToQuiz">Play Again with the same settings</button>
      <button class="buttonSize" @click="goToMenu">Go back to the Start Screen</button>
    </div>
    <div>
      <p> 
        <b>Keep scrolling to see the complete results:</b>
      </p>
    </div>
    <div v-for="(answer, index) in chosenAnswers" :key="index">
      <hr>
      <p>
        <b>Question {{index + 1}}: </b> <b v-html="results[index].question"></b>
      </p>
      <p>
        <span>Correct: </span> <span v-html="results[index].correct_answer"></span>
      </p>
      <p>
        <span>Chosen: </span> <span v-html="chosenAnswers[index]"></span>
      </p>
    </div>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'

export default {
    computed: {
        ...mapState(['questionAmount', 'categoryChosen', 'difficultyChosen', 'typeChosen', 'results', 'chosenAnswers',
                     'currentScore', 'maxScore'])
    },
    methods: {
        goToQuiz() {
            this.resetSelectedAnswer();
            this.$emit('start-quiz')
        },
        goToMenu() {
            this.resetSelectedAnswer();
            this.$emit('restart-quiz')
        },
        ...mapMutations(['resetSelectedAnswer']),
    },
    data() {
        return {
            
        }
    }
}
</script>

<style>

</style>