<template>
 <div>
    <h1>Start Screen</h1>
    <hr>
    <div>
      <label class="labelSize" for="questionLabel">How many questions? (1-50)</label>
      <input class="buttonSize" id="questionInput" name="questionLabel" @change="numberCorrection" type="number" min="1" max="50" v-model="questionAmount">
    </div>
    <div>
      <label class="labelSize" for="categoryLabel">Select the category</label>
      <select class="dropdownSize" id="categorySelector" name="categoryLabel" v-model="categoryChosen">  
         <option value="">All</option>   
         <option value="9">General Knowledge</option>  
         <option value="10">Entertainment: Books</option>  
         <option value="11">Entertainment: Film</option>
         <option value="12">Entertainment: Music</option>
         <option value="13">Entertainment: Musicals & Theatres</option>
         <option value="14">Entertainment: Television</option>
         <option value="15">Entertainment: Video Games</option>
         <option value="16">Entertainment: Board Games</option>
         <option value="17">Science & Nature</option>
         <option value="18">Science: Computers</option>
         <option value="19">Science: Mathematics</option>
         <option value="20">Mythology</option>
         <option value="21">Sports</option>
         <option value="22">Geography</option>
         <option value="23">History</option>
         <option value="24">Politics</option>
         <option value="25">Art</option>
         <option value="26">Celebrities</option>
         <option value="27">Animals</option>
         <option value="28">Vehicles</option>
         <option value="29">Entertainment: Comics</option>
         <option value="30">Science: Gadgets</option>
         <option value="31">Entertainment: Japanese Anime & Manga</option>
         <option value="32">Entertainment: Cartoon & Animations</option>
      </select>
    </div>
    <div>
      <label class="labelSize" for="difficultyLabel">Select the difficulty</label>
      <select class="dropdownSize" id="difficultySelector" name="difficultyLabel" v-model="difficultyChosen">  
         <option value="">All</option>   
         <option value="easy">Easy</option>  
         <option value="medium">Medium</option>  
         <option value="hard">Hard</option>   
      </select>
    </div>
    <div>
      <label class="labelSize" for="typeLabel">Select the type of questions</label>
      <select class="dropdownSize" id="typeSelector" name="typeLabel" v-model="typeChosen">  
         <option value="">All</option>
         <option value="multiple">Multiple Choice</option>
         <option value="boolean">True / False</option>
      </select>
    </div>
    <hr>
    <div>
      <button class="buttonSize" id="quizConfirm" @click="saveSettings">Start game</button>
    </div>
 </div>
</template>

<script>
import {mapMutations} from 'vuex'

export default {
 methods: {
    numberCorrection() {
       if(this.questionAmount > 50) {
          this.questionAmount = 50;
       }
       if(this.questionAmount < 1) {
          this.questionAmount = 1;
       }
    },
    saveSettings() {
        this.setQuestionAmount(this.questionAmount);
        this.setCategory(this.categoryChosen);
        this.setDifficulty(this.difficultyChosen);
        this.setType(this.typeChosen);
        this.$emit('start-quiz')
    },
    ...mapMutations(['setQuestionAmount','setCategory','setDifficulty', 'setType'])
 },
 data() {
     return {
        questionAmount: "10",
        categoryChosen: "",
        difficultyChosen: "",
        typeChosen: ""
     }
 }

}
</script>

<style>

</style>