<template>
  <div id="app">
    <start @start-quiz="switchScreen2" v-if="gameState === 'start'" />
    <quiz @stop-quiz="switchScreen3" v-else-if="gameState === 'quiz'"/>
    <results @start-quiz="switchScreen2" @restart-quiz="switchScreen1" v-else/>
  </div>
</template>

<script>
import start from './Components/Start'
import quiz from './Components/Quiz'
import results from './Components/Results'

export default {
  name: 'App',
  components: {
    start,
    quiz,
    results
  },
  data() {
    return{gameState: "start"}
  },
  methods: {
    switchScreen1() {
      this.gameState = "start"
    },
    switchScreen2() {
      this.gameState = "quiz"
    },
    switchScreen3() {
      this.gameState = "results"
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: rgb(143, 160, 238);
}
.labelSize {
  width: 30%;
}
.dropdownSize {
  width: 20%;
}
.buttonSize {
  width: 10%;
}
hr {
  border: 1px solid black;
}
</style>
